html[data-theme='light'] {
    --text-color: #000;
    --gray-text-color: #666;
    --page-color: #fff;
    --button-color: #96ccff;
    --gray-button-color: #eee;
    --highlight-color: #f6fffe;
    --clock-color: #a463f3;
    --world-clock-color: #6bcaa5;
    --dice-default-color: yellow;
    --symbol: "\2600\00a0";
}

html[data-theme='dark'] {
    --text-color: #fff;
    --gray-text-color: #aaa;
    --page-color: #1d2025;
    --button-color: #20588e;
    --gray-button-color: #222;
    --highlight-color: #142b3a;
    --clock-color: #673c9c; /* #9d3a5a */
    --world-clock-color: #257757;
    --dice-default-color: #dddd10;
    --symbol: "\263e\00a0";
}

html {
    line-height: 1.15;
}

body {
    background: var(--page-color);
    color: var(--text-color);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

div {
    box-sizing: border-box;
}

bitd-app {
    width: 100%;
}